// Kings green
$primary: #c3f216;
// Jazzy yellow
// $primary: #eef216;
// Deep yellow
// $primary: #f2ca16;
// Cool blue
// $primary: #16d1f2;
$body-bg: #333333;
$body-color: #ffffff;

@import "~bootstrap/scss/bootstrap";